app01/develop/
app01/doc/
app01/node_modules/
app01/product/
app01/dist/
app01/.vscode/
app01/src/assets/
app02/.vscode/
app02/develop/
app02/dist/
app02/doc/
app02/node_modules/
app02/product/assets/
app02/product/
app02/src/assets/
app03/dist/
app03/node_modules/
app03/doc/
app03/develop/
app03/.vscode/
